.danger-zone-container {
    .danger-zone-dashboard-header {
      .velona-header-section {
        padding-top: 0;
      }
    }
    .danger-zone-content {
        flex: 1 0 auto;
      padding: 24px;
    }
  
 
  }