<div fxLayout="column" fxFlex class="jobs-container">
  
  <!-- Page title -->
  <div fxLayout="column" class="jobs-content" fxLayoutGap="24px">

    <mat-card class="velona-mat-card velona-mat-card-compact">
      <table class="pipeline-table oto-table">
        <th>Pipeline</th>
        <th>Tasks</th>
        <th>What</th>
        <th>When</th>
        <th>Who</th>
        <th [myVisibleForPrivileges]="['bioinfAdmin']">Change priority</th>
        <tr *ngFor="let pl of pipelines">
          <td>
            <a
            color="primary"
            class="pointer"
            mat-icon-button
            [routerLink]="getLink(pl)"
            title="View">
            {{pl.name}}
            </a>
          </td>
          <td fxLayout="row">
            <ul *ngFor="let tg of pl.taskgroups">
              <li *ngFor="let task of tg" fxLayout="row" fxLayoutGap="4px;">
                <mat-chip-list>
                  <mat-chip
                    *ngIf="task.status == null"
                    class="pl-chip background-success-color"
                    matTooltip="finished"
                    >
                  </mat-chip>
                  <mat-chip
                    *ngIf="task.status == 'queued'"
                    class="pl-chip background-attention-color"
                    matTooltip="queued"
                    >
                  </mat-chip>
                  <mat-chip
                    *ngIf="task.status == 'deferred'"
                    class="pl-chip background-attention-color"
                    matTooltip="deferred"
                    >
                  </mat-chip>
                  <mat-chip
                    *ngIf="task.status == 'failed'"
                    class="pl-chip background-warn-color"
                    matTooltip="failed"
                    >
                  </mat-chip>
                  <mat-chip
                    *ngIf="task.status == 'started'"
                    class="pl-chip background-primary-color"
                    matTooltip="started"
                    >
                  </mat-chip>
                </mat-chip-list>
                <div matTooltip="Task name and queue">&nbsp;{{task.name}} ({{task.queue}})</div>
              </li>
            </ul>
          </td>
          <td>{{pl.primary_text ||  pl.pipelineid}}</td>
          <td>{{pl.date_created}}</td>
          <td>{{pl.created_by}}</td>
          <td  [myVisibleForPrivileges]="['bioinfAdmin']">
            <button
              mat-button>
              UP
            </button>
            <button
              mat-button>
              DOWN
            </button>
          </td>
        </tr>
      </table>
    </mat-card>
    <p class="muted-color">Buttons not yet active. Refreshes automatically</p>

    <!--<div fxLayout="row" fxLayoutGap="24px">
      <div fxFlex=50%>

        <mat-card class="worker-card velona-mat-card-compact">
          <mat-card-content>
            <div *ngIf="loading">loading</div>
            <mat-tab-group>
              <mat-tab *ngFor="let q of knownQueues" label= "{{q}} ({{queues[q]? queues[q].length : 0}})">
                <table *ngIf="queues[q]" class="oto-table oto-table-hover workerTable">
                  <thead>
                    <th>Description</th>
                    <th>Created</th>
                    <th>By</th>
                    <th>More info</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let job of queues[q]; trackBy: trackJobs">
                      <td class="pointer" (click)="selectedJob = job">{{ job.description }}</td>
                      <td>{{ job.created_at | date:"yyyy-MM-dd H:mm:ss" }}</td>
                      <td>{{job.meta?.pipeline?.created_by}}</td>
                      <td>{{job.meta?.pipeline?.primary_text || job.meta.pipeline?.samples}}</td>
                      <td class="worker-buttons">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex=50%>
        <mat-card *ngIf="selectedJob">
          <table class="oto-table oto-table-compact jobs-table">
            <tr>
              <td class="mat-body-2">Created</td>
              <td>{{selectedJob.created_at | date:"yyyy-MM-dd HH:mm"}}</td>
            </tr>
            <tr>
              <td class="mat-body-2">Enqueued</td>
              <td>{{selectedJob.enqueued_at | date:"yyyy-MM-dd HH:mm"}}</td>
            </tr>
            <tr *ngIf="selectedJob.meta">
              <td colspan="2">
                <pre>{{selectedJob.meta | json}}</pre>
                <small>metadata</small>
              </td>
            </tr>
            <tr *ngIf="selectedJob.kwargs">
              <td colspan="2">
                <pre>{{selectedJob.kwargs | json}}</pre>
                <small>kwargs</small>
              </td>
            </tr>
            <tr>
              <td class="mat-body-2">ttl on queue</td>
              <td>{{prettyMs(selectedJob.ttl)}}</td>
            </tr>
            <tr>
              <td class="mat-body-2">ID</td>
              <td>{{selectedJob.id}}</td>
            </tr>
          </table>
        </mat-card>
      </div>

    </div>-->

  </div>
</div>
