.jobs-container {
  .jobs-dashboard-header {
    .velona-header-section {
      padding-top: 0;
    }
  }
  .jobs-content {
    padding: 24px;
  }

  .jobs-table pre {
    max-height: 480px;
    overflow-x: auto;
  }

  .pipeline-table {
    font-size: 12px;
    width: 100%;

    th {
      background: whitesmoke;
    }
    td {
      height: auto;
      min-height: 52px;
      padding-bottom: 4px;
      padding-top: 4px;
    }

    ul {
      list-style: none;
    }

    mat-chip.pl-chip {
      min-height: 8px;
      padding: 6px 6px;
    }
  }

}