<div fxFlex fxLayout="column">

  <div
    class="admin-users-content mat-app-background"
    >
      <!-- user table -->
      <mat-card class="oto-mat-card-compact">
        <p-table
          styleClass="oto-primeng-table oto-primeng-table-smaller user-table"
          [value]="users"
          [paginator]="false"
          [scrollable]="true"
          [globalFilterFields]="['username', 'fullname', 'email']"
          scrollHeight="400px"
          sortField="username" [sortOrder]="1"
          #usersTable
        >
          <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="start middle" fxLayoutGap="8px" style="text-align: left">        
              <mat-form-field [floatLabel]="'never'">
                <mat-icon matPrefix>search</mat-icon>
                <input
                  matInput
                  type="text"
                  placeholder="Search user"
                  (input)="usersTable.filterGlobal($event.target['value'], 'contains')">
              </mat-form-field>
              <div>
                <button color="accent" mat-raised-button (click)="startUserAdd()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'username'">Name <p-sortIcon [field]="'username'"></p-sortIcon></th>
              <th [pSortableColumn]="'last_login'">Login <p-sortIcon [field]="'last_login'"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>
                <div fxLayout="column">
                  <span>{{user.username}}</span>
                  <small>{{user.fullname}}</small>
                </div>
              </td>
              <td>{{user.last_login | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>
                <button mat-icon-button (click)="startUserUpdate(user)"><mat-icon>edit</mat-icon></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-card>
  </div>

</div>
