<h1 mat-dialog-title *ngIf="data.action === 'add'">Add User</h1>
<h1 mat-dialog-title *ngIf="data.action === 'update'">
  <div fxLayout="row" fxLayoutGap="8px">
    <span>Edit</span>
    <div fxFlex></div>
    <button color="primary" *ngIf="data.action === 'update'" mat-raised-button (click)="removePassword(user)">RESET PW</button>
    <button *ngIf="data.action === 'update'" mat-raised-button color="warn" (click)="deleteUser(user.id)">DELETE</button>
  </div>
</h1>

<mat-dialog-content>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start">
    <form fxFlex [formGroup]="userForm">

      <mat-form-field style="width: 100%">
        <input
          autocorrect="off" autocapitalize="none"
          matInput
          required
          placeholder="Username"
          formControlName="username"
          type="text"
          (keydown.enter)="userForm.valid && confirmDialog()"
          (keydown.escape)=dialogRef.close()>
        <mat-error>Username is required</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input
          matInput
          placeholder="Full Name"
          formControlName="fullname"
          type="text"
          (keydown.enter)="userForm.valid && confirmDialog()"
          (keydown.escape)=dialogRef.close()>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input
          matInput
          autocorrect="off" autocapitalize="none"
          placeholder="Email"
          formControlName="email"
          type="email"
          (keydown.enter)="userForm.valid && confirmDialog()"
          (keydown.escape)=dialogRef.close()>
      </mat-form-field>

    </form>
    <div fxFlex *ngIf="data.action === 'update'">
      <h3 style="margin:0">Privileges</h3>
      <div style="overflow: auto; max-height:400px">
        <table class="oto-table" *ngIf="user.username !== 'admin'">
          <ng-container *ngFor="let role of ['user', 'manager', 'admin']">
            <tr><td colspan="2"><h3>{{role | titlecase}}</h3></td></tr>
            <ng-container *ngFor="let priv of privTypes">
              <tr *ngIf="priv.role == role">
                <td>{{ priv.module }}</td>
                <td>
                  <button
                    mat-icon-button
                    (click)="addPrivilege(user, priv.key)"
                    [disabled]="(user.privileges | myArrayFilter:priv.key).length > 0"
                    ><mat-icon>add</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    (click)="removePrivilege(user, priv.key)"
                    [disabled]="(user.privileges | myArrayFilter:priv.key).length == 0"
                    ><mat-icon>clear</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" style="width:100%">

      <button
        color="primary"
        mat-raised-button
        type="button"
        (click)="confirmDialog()"
        [disabled]="!userForm.valid">
        {{data.action.toUpperCase()}}
      </button>

      <button
        color="primary"
        matDialogClose
        mat-raised-button
        type="button"
        >CLOSE
      </button>


    <div fxFlex></div>

  </div>
</mat-dialog-actions>
