<!--<app-navbar></app-navbar>

<div
  class="oto-loader oto-loader-huge overlay"
  *ngIf="loadingRoute">
</div>

<p-toast position="top-right"></p-toast>

<oto-confirmation-dialog></oto-confirmation-dialog>

<div class="oto-toaster mat-elevation-z3 show" [ngClass]="{'show': tasksProgressMessages.length > 0 || delayedHide}">

    <div class="oto-toaster-item" *ngFor="let item of tasksProgressMessages">

      <ng-container *ngIf="item.message_type == 'move' || item.message_type=='copy' ">

        <ng-container *ngIf="item.message_type == 'start'">
          {{item.messageText}} files to {{item.destination}} ...
        </ng-container>

        <ng-container *ngIf="item.message_type == 'progress'">
          <div fxLayout="row" fxLayoutAlign="start center">
            {{item.messageText}} files to {{item.destination}} &nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="item.progress" class="accent-color"> {{item.progress.copying}} of {{item.progress.total}} &nbsp;&nbsp;&nbsp; {{item.progress.percent_done | number : "1.0-0"}} % done</span>
          </div>
        </ng-container>

      </ng-container>

      <ng-container *ngIf="item.message_type == 'delete' ">
        <div fxLayout="row" fxLayoutAlign="start center">
          {{ item.messageText }}
          <mat-icon *ngIf="item.message_content == 'success'" class="success-color">check</mat-icon>
        </div>
      </ng-container>

    </div>

    <div class="oto-toaster-item" *ngIf="tasksProgressMessages.length == 0" fxLayout="row" fxLayoutAlign="start center">
      No more messages <mat-icon class="success-color">check</mat-icon>
    </div>


</div>
-->

<!-- angular router places components AFTER router-outlet, not within -->






<mat-sidenav-container>

  <mat-sidenav  #sidenav role="navigation">
    <div class="list-container" fxLayout="column">
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()" routerLinkActive="active"
        routerLink="/cams">
        <mat-icon class="icon">search</mat-icon>
        <span class="label">Cams</span>
      </a>
      <a mat-list-item (click)="sidenav.close()" routerLinkActive="active"
        [myVisibleForPrivileges]="['otoAdmin']"
         routerLink="/admin">
        <mat-icon class="icon">speed</mat-icon>
        <span class="label">Dashboard</span>
      </a>
    </mat-nav-list>
    <div fxFlex></div>
    <mat-nav-list>
      <ng-container *ngIf="authenticationService.currentUser">
        <mat-divider></mat-divider>
        <h3 matSubheader>
          <div fxLayout="row" fxLayoutAlign="start center"  class="list-item">
            <mat-icon>person</mat-icon>
            <mat-icon color="warn" *ngIf="!authenticationService.currentUser?.defaultPasswordChanged">info</mat-icon>
            <span>&nbsp;{{authenticationService.currentUser.fullname || authenticationService.currentUser.username}}
              <!--<small>({{authenticationService.currentUser.activeRole}})</small>-->
            </span>
          </div>
        </h3>
        <a mat-list-item (click)="sidenav.close()"
            *ngIf="authenticationService.currentUser"
            (click)="logout()" type="button">
          <mat-icon class="icon">input</mat-icon>
          <span class="label">LogOut</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="authenticationService.currentUser">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex></div>
      <div *ngIf="!onHome">
        <a routerLink="/">
          <img class="toolbar-icon" src="/assets/apple-touch-icon-76x76.png"/>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <small fxLayout="row" fxLayoutAlign="start center"  class="list-item">
              <mat-icon>person</mat-icon>
              <mat-icon color="warn" *ngIf="!authenticationService.currentUser?.defaultPasswordChanged">info</mat-icon>
              <span>&nbsp;{{authenticationService.currentUser.fullname || authenticationService.currentUser.username}}
                <!--<small>({{authenticationService.currentUser.activeRole}})</small>-->
              </span>
            </small>
          </li>
          <li>
            <a routerLinkActive="active"
              routerLink="/cams">
              <mat-icon class="icon">search</mat-icon>
              <span class="label">Cams</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active"
              [myVisibleForPrivileges]="['otoAdmin']"
              routerLink="/admin">
              <mat-icon class="icon">speed</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active"
              *ngIf="authenticationService.currentUser"
              (click)="logout()" type="button"
            >
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
