<div class="oto-content">
  <p>Muisic Room cam: {{socketStatus}}</p>
  <canvas [ngStyle.xl]="{'width': '1280px', 'height.px': 1024/ 1.777777}" #streaming></canvas>
  <p>Garage cam: {{socketStatus2}}</p>
  <canvas [ngStyle.xl]="{'width': '1280px', 'height.px': 1024/ 1.777777}" #streaming2></canvas>

  @if (scanData) {
    <mat-card>
      <table class="velona-table">
        <th>IP</th>
        <th>Name</th>
        <th>State</th>
        @for (host of scanData.known_hosts; track host) {
          <tr>
            <td>{{host.ip}}</td>
            <td>{{host.friendly_name}}</td>
            <td>
              @if (scanData.scans[host.ip]) {
                <div [ngClass]="{'success-color': scanData.scans[host.ip].state=='up', 'accent-color': scanData.scans[host.ip].state!='up'}">
                  {{scanData.scans[host.ip].state}}
                </div>
              }
              @if (!scanData.scans[host.ip]) {
                <div>
                  na
                </div>
              }
            </td>
            <td>
              @if (scanData.scans[host.ip]) {
                <div>
                  @for (interval of scanData.scans[host.ip].intervals; track interval) {
                    <div>
                      {{interval[0]}}: {{interval[1]}} - {{interval[2]}}
                    </div>
                  }
                </div>
              }
            </td>
          </tr>
        }
      </table>
      @for (log of scanData?.logs; track log) {
        <div>
          {{log.scan_time}}
          {{log.unknown_hosts | json}}
        </div>
      }
    </mat-card>
  }
</div>
