@use "sass:map";
@use '@angular/material' as mat;
@mixin header-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .velona-header-background {
    background: mat.get-color-from-palette($primary);
  }

  .velona-header-headline {
    color: mat.get-color-from-palette($primary, default-contrast);
  }

  .velona-header-start {
    color: mat.get-color-from-palette($primary);
  }

  /*
  Layout
  typcial height is 80px;
  */

  .velona-header-background {
    display: block;
  }

  .velona-header-section {
    text-align: left;
    padding-top: 24px;
    padding-left: 24px;
  }

  .velona-header-headline {
    h1 {
      font-weight: 300;
      margin: 0;
      padding: 28px 8px;
      font-size: 20px;
    }
  }
}
