<div fxFlex fxLayout="column">
  <div fxLayout="row" fxlayoutGap="8px" fxLayoutAlign="start center">
    <button
      mat-icon-button
      matTooltip="Refresh"
      (click)="loadJobs()">
      <mat-icon *ngIf="!loading">refresh</mat-icon>
      <div *ngIf="loading" class="oto-loader oto-loader-button"></div>
    </button>
    <small class="muted-color">only recent jobs, last refresh {{lastLoad.format("YYYY MM DD HH:mm:ss")}}</small>
  </div>

  <div class="admin-glimsimport-content" fxLayout="row" fxLayoutGap="24px">
    <div fxLayout="column" fxFlex>
      <mat-card class="jobs-card oto-mat-card-compact" [myVisibleForPrivileges]="['otoAdmin']">
        <mat-card-header>
          <mat-toolbar class="oto-toolbar" fxLayout="row" fxLayoutAlign="start center">
            <mat-toolbar-row>
              <button mat-raised-button color="accent" (click)="importGlims()">
                DO
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content style="height: 240px">
          <p-table
            styleClass="oto-primeng-table oto-primeng-table-smaller"
            [value]="remainingJobs"
            
            [scrollable]="true" scrollHeight="flex"
            sortField="created_at" [sortOrder]="-1"
            [rowTrackBy]="trackById"
            >
            <ng-template pTemplate="header">
              <tr>
                <th>Description</th>
                <th>Created</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-job>
              <tr (click)="showJobDetails(job)" [pSelectableRow]="job" class="pointer">
                <td>{{ job.description }} - {{job.status}}</td>
                <td>
                  <div fxLayout="column">
                    <div>{{ job.created_at | date:"yyyy-MM-dd H:mm:ss" }}</div>
                    <div *ngIf="!job.ended_at">({{timeToFinish(job.started_at, lastLoad)}} ago)</div>
                    <div *ngIf="job.ended_at">(took {{timeToFinish(job.started_at, job.ended_at)}})</div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>