.admin-glimsimport-header {

  height: 80px;

  h1 {
    padding: 0;
    padding-top: 4px;
  }
}

.admin-glimsimport-content {
  padding: 24px;
  height: 100%;
}

.jobs-card {
  height: 360px;
  min-height: 360px;
  margin-bottom: 16px;
  min-width: 600px;
}
.toolbar {
  margin-bottom: 16px;
}
