@use "sass:map";
@use '@angular/material' as mat;
@mixin navbar-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-navbar {
    color: mat.get-color-from-palette($primary, default-contrast);

    span {
      color: mat.get-color-from-palette($primary, default-contrast);
    }


    .mat-checkbox-frame {
      border-color: mat.get-color-from-palette($primary, default-contrast);
    }

    .oto-toolbar {
      background: mat.get-color-from-palette($primary);
    }
  }

  /* dialogs HACK before they remove the 200px width */
  .navbar-dialog mat-form-field.mat-form-field {
    width: 100%;
  }

  a.mat-button.active {
    border-bottom: 2px solid mat.get-color-from-palette($accent);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


}
