<h1 mat-dialog-title>Set password</h1>

<mat-dialog-content class="navbar-dialog">
  <p class="mat-body-1">It is recommended to use the same password than your windows login</p>

  <form [formGroup]="setPasswordForm">
    <mat-form-field>
      <input
        matInput
        required
        placeholder="enter password"
        myAutofocus
        formControlName="password1"
        type="password"
        (keydown.enter)="confirmDialog()"
        (keydown.escape)=dialogRef.close()>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        placeholder="confirm"
        formControlName="password2"
        type="password"
        (keydown.enter)="confirmDialog()"
        (keydown.escape)=dialogRef.close()
        >
      <mat-error>Passwords do not match</mat-error>
    </mat-form-field>

    <p class="warn-color" *ngIf="setPasswordError">
      <mat-icon color="warn">error</mat-icon>
      {{ setPasswordError }}
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    color="primary"
    mat-raised-button
    type="button"
    (click)="confirmDialog()"
    [disabled]="setPasswordForm.controls['password1'].invalid || setPasswordForm.controls['password2'].invalid">
    SAVE
  </button>

  <button
    color="primary"
    matDialogClose
    mat-raised-button
    type="button"
    >CLOSE
  </button>
</mat-dialog-actions>
