<h1 mat-dialog-title>Change password</h1>

<mat-dialog-content class="navbar-dialog">
  <form [formGroup]="changePasswordForm">

    <mat-form-field>
      <input
        matInput
        required
        myAutofocus
        placeholder="Enter old password"
        formControlName="oldPassword"
        type="password"
        (keydown.enter)="confirmDialog()"
        (keydown.escape)=dialogRef.close()>
      <mat-error>Password incorrect</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        formControlName="password1"
        type="password"
        placeholder="Enter new password"
        (keydown.enter)="confirmDialog()"
        (keydown.escape)=dialogRef.close()>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        placeholder="Confirm"
        formControlName="password2"
        type="password"
        (keydown.enter)="confirmDialog()"
        (keydown.escape)=dialogRef.close()>
      <mat-error>Passwords do not match</mat-error>
    </mat-form-field>
  </form>

  <p *ngIf="changePasswordError" class="warn-color">
    <mat-icon color="warn">error</mat-icon>
    {{ changePasswordError }}
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    color="primary"
    mat-button
    type="button"
    (click)="confirmDialog()"
    [disabled]="
      changePasswordForm.controls['oldPassword'].invalid ||
      changePasswordForm.controls['password1'].invalid ||
      changePasswordForm.controls['password2'].invalid
    ">
    CHANGE
  </button>

  <button
    color="primary"
    matDialogClose
    mat-button
    type="button"
    >CLOSE
  </button>
</mat-dialog-actions>
