Host dev_docker_host
    Hostname host.docker.internal
    User bsq_coli
    IdentityFile /run/secrets/SSH_KEY_DOCKER_HOST
    Port 22
    StrictHostKeyChecking no

Host 192.168.178.45
    StrictHostKeyChecking no
    hostname 192.168.178.45
    User chris
    IdentityFile /run/secrets/SSH_KEY_DOCKER_HOST
    Port 22

Host kitchenpi
    StrictHostKeyChecking no
    hostname 192.168.178.45
    User chris
    IdentityFile /run/secrets/SSH_KEY_DOCKER_HOST
    Port 22