Host dev_docker_host
	Hostname host.docker.internal
	User bsq_coli
	IdentityFile /run/secrets/SSH_KEY_DOCKER_HOST
	Port 22
	StrictHostKeyChecking no
Host kitchenpi
	StrictHostKeyChecking no
	Hostname 192.168.178.45
	User chris
	IdentityFile /run/secrets/SSH_KEY_DOCKER_HOST
	Port 22
	StrictHostKeyChecking no