<!-- Text -->
<mat-card fxLayout="column">
  <mat-card-header>
    <mat-card-title>
      Transcribe fragment analysis data to MLVA
    </mat-card-title>
    <mat-card-subtitle>
      Typhimurium or Enteritidis
    </mat-card-subtitle>

    <div class="transmlst-buttons-container" fxLayout fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="inputChanged('')">CLEAR</button>
      <button mat-raised-button color="accent" (click)="inputChanged(example)">EXAMPLE</button>
    </div>
  </mat-card-header>

  <mat-card-content fxLayout="row" class="transmlst-content">
    <div fxFlex class="transmlst-form-container">
      <mat-form-field>
        <textarea
          matInput
          placeholder="Paste fragment analysis data here (tab-delimited)"
          (ngModelChange)="inputChanged($event)"
          [ngModel]="textareaContent"
          rows=28>
        </textarea>
      </mat-form-field>
    </div>

    <!-- Table -->
    <div fxFlex class="transmlst-table-container">
      <ng-container *ngIf="forDisplay && forDisplay != {}">
        <table *ngFor="let group of groups" class="oto-table oto-table-hover">
          <tr>
            <th>Sample Name</th>
            <th>{{group}}</th>
          </tr>
          <tr *ngFor="let sample of forDisplay[group]">
            <td>{{sample.key}}</td>
            <td>{{sample.data2 | slice:0:-1}}</td>
          </tr>
        </table>
      </ng-container>
    </div>
  </mat-card-content>

</mat-card>
