.oto-login-content {
  padding: 48px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.oto-login-image {
  text-align: center;
  margin-top: 48px;

  img {
    height: 96px;
  }
}


.form-card {
  margin: 0 auto;

  h3 {
    text-align: center;
  }

  form {
    text-align: center;

    .oto-login-full-width {
      width: 90%;
    }

    .login-messages {
      height: 48px;
      min-height: 48px;
      line-height: 48px;
      padding-left: 48px;
      margin-top: -24px; /* becasue of placehodler icons */
    }

    .oto-loader {
      position: absolute;
      top: 50%;
    }

    button {
      margin-top: 16px; /* place for error */
    }

  }
}