.infra-container {
  .infra-dashboard-header {
    .oto-header-section {
      padding-top: 0;
    }
  }
  .infra-content {
    padding: 24px;
    .chart-comment  {
      padding-left: 8px
    }
  }


}