<div fxLayout="column" fxFlex class="jobs-container">

  <div fxLayout="column" class="jobs-content" fxLayoutGap="24px">

    <div fxLayout="column" fxLayoutGap="24px">

      <!-- Workers -->
      <mat-card class="workers-card">
        <mat-card-header>
          <mat-toolbar class="oto-toolbar">
            <mat-toolbar-row fxLayoutGap="8px" fxLayout="row" fxLayoutAlign="start center">
              <label>Workers&nbsp;</label>
              <span>
                @if (workers) {
                  <small>{{workers.length}}</small>
                }
              </span>
              <button mat-raised-button color="accent" (click)="defaultWorkers()">DEFAULT</button>
              <button mat-raised-button color="warn" (click)="cancelAllWorkers()">STOP ALL</button>
            </mat-toolbar-row>
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <table class="oto-table oto-table-hover">
            <thead>
              <th>Name</th>
              <th>Queues</th>
              <th>Stop</th>
            </thead>
            <tbody>
              @for (worker of workers; track trackWorkers($index, worker)) {
                <tr>
                  <td>
                    {{worker.name  | myTruncate:false:10:" ..."}}
                    @if (worker.currentjob) {
                      <button
                        mat-button
                        (click)="showJobDetails(worker.currentjob)">
                        <mat-icon>search</mat-icon>
                        @if (worker.currentjob.status=='failed') {
                          <span>&nbsp;last job failed</span>
                        }
                        @if (worker.currentjob.status=='started') {
                          <span>&nbsp;job running</span>
                        }
                      </button>
                    }
                    <div [ngClass]="{'success-color': worker.status == 'idle', 'attention-color': worker.status == 'busy'}" class="worker-status">{{worker.status}}</div>
                  </td>
                  <td>@for (q of worker.queues; track q) {
                    <span>{{q}}&nbsp;</span>
                  }</td>
                  <td class="worker-buttons">
                    <div fxLayout="column">
                      <button
                        mat-button
                        matTooltip="wait to finish then exit"
                        (click)="cancel_worker(worker.name)"
                        [disabled]="worker.warm_shutdown_requested">
                        SOFT
                        @if (worker.warm_shutdown_requested) {
                          <small>(already requested)</small>
                        }
                      </button>
                      <button
                        mat-button
                        color="warn"
                        matTooltip="kill now, this will lose jobs!"
                        (click)="kill_worker(worker.name)">
                        FORCE
                      </button>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>

      <div>
        <div>
          <h5>Add queue</h5>
          <button mat-button (click)="addWorker('single')">Single</button>
          <button mat-button (click)="addWorker('scheduled')">Scheduled</button>
        </div>
      </div>

      <p>
        @if (!workers) {
          <small>&nbsp;(waiting for info ...)</small>
        }
        @if (workerLoading) {
          <small>&nbsp;server is working ...</small>
        }
      </p>

    </div>
  </div>

</div>
