.jobs-container {
  .jobs-content {
    padding: 24px;
  }

  a {
    cursor: pointer
  }

  button.mat-button.queue-button {
    span {display:inline-block;}
    mat-chip-list.mat-chip-list {display: inline-block;}
  }

  .jobs-table pre {
    max-height: 240px;
    overflow-x: auto;
  }

}
