<div fxLayout="column" fxFlex class="jobs-container">

  <!-- Page title -->

  <div class="jobs-content">

      <div>
        <mat-card class="oto-mat-card-compact">
          
          <mat-card-header class="analysis-card-header">
            <mat-toolbar class="oto-toolbar lims-analysis-toolbar-header" fxLayout="row" fxLayoutAlign="start center">
              <mat-toolbar-row>
                <button
                  mat-icon-button
                  matTooltip="Refresh"
                  (click)="reloadTable()">
                  <mat-icon *ngIf="!loading">refresh</mat-icon>
                  <div *ngIf="loading" class="oto-loader oto-loader-button"></div>
                </button>
                <div fxFlex></div>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="clearFailed()">
                  CLEAR FAILED
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
          </mat-card-header>
          
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start start">

              <div fxFlex="50%" style="height: 440px">
                <p-table
                  #jobsTable
                  styleClass="oto-primeng-table oto-primeng-table-smaller  p-datatable-striped"
                  [value]="allJobs"
                  
                  [lazy]="true" (onLazyLoad)="loadJobs($event)" [paginator]="true"
                  [rows]="10" [totalRecords]="totalJobs"

                  [scrollable]="true" scrollHeight="flex"
                  sortField="created_at" [sortOrder]="-1"
                  selectionMode="single" [(selection)]="selectedJob" dataKey="id"
                  [rowTrackBy]="trackById"
                  >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Description</th>
                      <th>Queue</th>
                      <th>Created</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-job>
                    <tr [pSelectableRow]="job">
                      <td>{{ job.description }}</td>
                      <td>{{job.origin}}</td>
                      <td>{{ job.created_at | date:"yyyy-MM-dd H:mm:ss" }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns="columns">
                    <tr>
                      <td colsapn="columns.length">
                        {{ emptyMessage }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <div fxFlex="50%" *ngIf="selectedJob">
                <table class="oto-table oto-table-compact jobs-table">
                  <tr>
                    <td class="mat-body-2">Status</td>
                    <td>{{selectedJob.status}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">Queue</td>
                    <td>{{selectedJob.origin}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">Created</td>
                    <td>{{selectedJob.created_at | date:"yyyy-MM-dd HH:mm"}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">Enqueued</td>
                    <td>{{selectedJob.enqueued_at | date:"yyyy-MM-dd HH:mm"}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">Started</td>
                    <td>{{selectedJob.started_at | date:"yyyy-MM-dd HH:mm"}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">Finished</td>
                    <td>
                      <span *ngIf="selectedJob.ended_at">
                        {{selectedJob.ended_at | date:"yyyy-MM-dd HH:mm"}} (took {{timeToFinish(selectedJob.started_at, selectedJob.ended_at)}})
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="selectedJob.exc_info">
                    <td colspan="2">
                      <pre>{{selectedJob.exc_info}}</pre>
                      <small>ttl of error: {{prettyMs(selectedJob.failure_ttl)}}</small>
                    </td>
                  </tr>
                  <tr *ngIf="selectedJob.meta">
                    <td colspan="2">
                      <pre>{{selectedJob.meta | json}}</pre>
                      <small>metadata</small>
                    </td>
                  </tr>
                  <tr *ngIf="selectedJob.kwargs">
                    <td colspan="2">
                      <pre>{{selectedJob.kwargs | json}}</pre>
                      <small>kwargs</small>
                    </td>
                  </tr>
                  <tr *ngIf="selectedJob.result">
                    <td colspan="2">
                      <pre>{{selectedJob.result}}</pre>
                      <small *ngIf="selectedJob.result_ttl">ttl of result: {{prettyMs(selectedJob.result_ttl)}}</small>
                      <small *ngIf="!selectedJob.result_ttl">ttl of result: forever</small>
                    </td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">ttl on queue</td>
                    <td>{{prettyMs(selectedJob.ttl)}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">max execution time</td>
                    <td>{{prettyMs(selectedJob.timeout)}}</td>
                  </tr>
                  <tr>
                    <td class="mat-body-2">ID</td>
                    <td>{{selectedJob.id}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

  </div>
</div>
