.jobs-container {
  .jobs-content {
    padding: 24px;
  }

  .jobs-table pre {
    max-height: 480px;
    overflow-x: auto;
  }

  .jobs-card {
    .mat-mdc-card-header,
    .mat-mdc-card-content {
      padding:0
    }
  }

}
