
<mat-toolbar>
  <div fxFlex fxLayout>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a
          routerLinkActive="active"
          routerLink="scheduledjobs">
          <span class="label">Jobs</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="failedjobs">
          <span class="label">Failed</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="workers">
          <span class="label">Workers</span>
        </a>
      </li>
      <li>
        <a
          routerLinkActive="active"
          routerLink="users">
          <span class="label">Users</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
