@use '@angular/material' as mat;
@use './styles/app-theme';


// Include material core styles.
@include mat.core();


// Define the light theme.
$primary:  mat.define-palette(mat.$grey-palette, 900);
$accent: mat.define-palette(mat.$orange-palette, 700, 100, 900);
$warn: mat.define-palette(mat.$red-palette, 600);

$theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include app-theme.oto-app-theme($theme);
